body {
  background-color:rgb(97, 158, 175);
  font-size:20pt;



}

h1{
  color: #660687;
  font-weight: bold;
  font-family: fantasy;
  font-size: 70pt;
  font-style: italic;
  text-align:center;
}
